/* Fonts */
@font-face {
  font-family: "Heading";
  font-weight: 700;
  src: url(fonts/montserrat.woff2);
}
@font-face {
  font-family: "Heading";
  font-weight: 900;
  src: url(fonts/montserrat900.woff2);
}
@font-face {
  font-family: "Content";
  src: url(fonts/Inter-400.woff2);
}

/* Variables & Colors */
:root {
  --black: #0e0d0d;
  --white: #f3f3f3;
  --sky-blue: #00101d;
  --sky-blue-accent: #264a6d;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document Selector */
html {
  font-size: 90%;
}
body {
  font-family: "Content";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heading";
  text-transform: uppercase;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}

/* Nav Styling */
.navBar {
  padding: 1.2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: var(--sky-blue);
  box-shadow: 0 0 15px #000;
}
.nav-links {
  display: flex;
}
.links {
  margin: 0 0.8rem;
}
.links a {
  color: var(--white);
  font-size: 1.2rem;
  font-family: "Heading";
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 2rem;
}
.links a:active,
.links a:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}
